{% assign pollination = include.seed.impollinazione | join: "|" %}

<a
class="explorer-card"
href="{{ include.seed.url | relative_url }}"

data-status="{{ include.seed.stato_conservazione | slugify }}"
data-family="{{ include.seed.famiglia | slugify }}"
data-cycle="{{ include.seed.ciclo_vita | slugify }}"
data-pollination="{{ pollination }}">

{% assign first = include.seed.immagini.first %}

<div class="card-image">

{% if first %}

<img
src="{{ '/assets/images/seeds/' | append: include.seed.slug | append: '/' | append: first.file | relative_url }}"
alt="{{ include.seed.nome_comune }}">

{% else %}

<div class="card-placeholder">

NO IMAGE

</div>

{% endif %}

</div>

<div class="card-body">

<h2>{{ include.seed.nome_comune }}</h2>

{% if include.seed.nome_scientifico %}
<div class="card-scientific">
{{ include.seed.nome_scientifico }}
</div>
{% endif %}

{% if include.seed.famiglia %}
<div class="card-family">
🌿 {{ include.seed.famiglia }}
</div>
{% endif %}

{% if include.seed.stato_conservazione %}
<div class="card-state state-{{ include.seed.stato_conservazione | slugify }}">
{{ include.seed.stato_conservazione }}
</div>
{% endif %}




</div>

</a>