<div id="boot-engine">

    <div id="boot-background"></div>

    <div id="boot-terminal"></div>

<div id="boot-mycelium">

<svg
id="mycelium-svg"
viewBox="0 0 800 400"
preserveAspectRatio="none">

<path class="mycelium-line l1"
d="M50 200 C120 160 180 240 260 180 S420 120 520 180 S690 250 760 180"/>

<path class="mycelium-line l2"
d="M120 310 C200 260 250 340 340 280 S500 220 610 270"/>

<path class="mycelium-line l3"
d="M80 110 C180 70 260 150 360 90 S520 60 700 120"/>

</svg>

</div>
    <div id="boot-quote"></div>

    <div id="boot-authorize">

        <div class="authorize-title">
GENESIS PROTOCOL
        </div>

        <div class="authorize-sub">
AUTHORIZED
        </div>

        <div class="authorize-node">
NODE ITALY-074
        </div>

    </div>

</div>