<div
    id="boot-engine"
    data-accessions="{{ site.seeds.size }}">

    <div id="boot-background"></div>

    <div id="boot-terminal"></div>

    <div id="boot-mycelium">

        <svg
            id="mycelium-svg"
            viewBox="0 0 1000 600"
            preserveAspectRatio="xMidYMid meet">
        </svg>

    </div>

    <div id="boot-authorize">

        <div class="authorize-title">
            ACCESS GRANTED
        </div>

        <div class="authorize-sub">
            SOIL GENESIS CORE ONLINE
        </div>

    </div>

</div>