<header class="site-header">

    <a
        class="site-logo"
        href="{{ '/' | relative_url }}"
        aria-label="Soil Genesis">

        <img
            src="{{ '/assets/images/logo.png' | relative_url }}"
            alt="Soil Genesis">

    </a>

</header>

<nav class="navbar">

    <a href="{{ '/' | relative_url }}">HOME</a>
    <a href="{{ '/protocollo/' | relative_url }}">
    PROTOCOLLO
</a>

    <div class="dropdown">

        <button class="dropbtn">

            ARCHIVIO ▾

        </button>

        <div class="dropdown-content">

            <a href="{{ '/sementi/' | relative_url }}">

                Sementi

            </a>
<a href="{{ '/sementi/perenni/' | relative_url }}">
    Perenni
</a>

<a href="{{ '/sementi/spontanee/' | relative_url }}">
    Spontanee
</a>
<!-- <a href="{{ '/sementi/perdute/' | relative_url }}">
    Memoriale
</a> -->

            <!--<a href="{{ '/famiglie/' | relative_url }}">

                Famiglie botaniche

            </a>
        <a href="{{ '/explorer/' | relative_url }}">

                Ricerca Avanzata

            </a> -->

        </div>

    </div>
<div class="dropdown">

        <button class="dropbtn">

            RETE ▾

        </button>

        <div class="dropdown-content">

    <a href="{{ '/risorse/' | relative_url }}">

        RISORSE

    </a>

    <a href="{{ '/ricette/' | relative_url }}">
    RICETTE
</a>

        </div>

    </div>

<!--<div class="dropdown">

        <button class="dropbtn">

            LOG ▾

        </button>

        <div class="dropdown-content">

<a href="{{ '/log/v-log/' | relative_url }}">
    V-LOG
</a> 

<a href="{{ '/log/b-log/' | relative_url }}">
    B-LOG
</a>

        </div>

    </div>

    <a href="{{ '/ortofrutta/' | relative_url }}">
    ORTOFRUTTA
</a>-->
<a href="{{ '/contatti/' | relative_url }}">
    CONTATTI
</a>

 

</nav>