<div class="window">

    <div class="window-header">

        <span class="window-title">
            {{ include.title }}
        </span>

        <div class="window">

    <div class="window-header">

        <div>

            <div class="window-id">

                {{ include.module }}

            </div>

            <div class="window-title">

                {{ include.title }}

            </div>

        </div>

        <span class="window-status">

            ATTIVO

        </span>

    </div>

    <div class="window-content">

        {{ include.content }}

    </div>

    <div class="window-build">

        SG-OS 0.5.0

    </div>

</div>


</div>