.window{

border:1px solid var(--line);

background:rgba(5,12,13,.75);

box-shadow:
0 0 20px rgba(122,216,202,.05);

margin:30px auto;

max-width:900px;

animation:windowBoot .8s ease;

}


.window-header{

height:40px;

border-bottom:1px solid var(--line);

display:flex;

justify-content:space-between;

align-items:center;

padding:0 20px;

background:rgba(122,216,202,.04);

}


.window-title{

font-family:"Orbitron";

letter-spacing:2px;

font-size:.85rem;

color:var(--primary);

}


.window-status{

font-size:.7rem;

color:var(--secondary);

}


.window-content{

padding:35px;

line-height:1.8;

}



@keyframes windowBoot{

from{

opacity:0;

transform:translateY(10px);

}


to{

opacity:1;

transform:none;

}

}