*{

margin:0;

padding:0;

box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

background:var(--bg);

color:var(--text);

font-family:"IBM Plex Mono", monospace;

overflow-x:hidden;

min-height:100vh;

}

h1,h2,h3{

font-family:"Orbitron",sans-serif;

color:var(--primary);

font-weight:700;

letter-spacing:2px;

margin-bottom:20px;

}

p{

line-height:1.8;

margin-bottom:20px;

}

a{

color:var(--primary);

text-decoration:none;

transition:.2s;

}

a:hover{

color:white;

}

main{

padding:50px;

max-width:1000px;

margin:auto;

}