#boot-screen{

position:fixed;

inset:0;

background:#000;

display:flex;

justify-content:center;

align-items:center;

z-index:50000;

transition:1.2s;

}

#boot-output{

width:min(700px,90vw);

font-family:"IBM Plex Mono",monospace;

font-size:18px;

line-height:1.7;

color:var(--primary);

text-shadow:0 0 8px rgba(122,215,202,.3);

white-space:pre-wrap;

}

.boot-hide{

opacity:0;

pointer-events:none;

}