@media(max-width:700px){

main{

padding:25px;

}

nav{

gap:15px;

font-size:.8rem;

flex-wrap:wrap;

}

}

@media(max-width:900px){

.os-layout{

grid-template-columns:1fr;

}

.os-sidebar{

position:static;

}

}