body {

background:black;

color:#00ff41;

font-family:"Courier New", monospace;

margin:0;

}


canvas {

position:fixed;

top:0;

left:0;

z-index:-1;

opacity:0.25;

}



nav {

padding:20px;

border-bottom:1px solid #00ff41;

}


nav a {

color:#00ff41;

margin:20px;

text-decoration:none;

}



main {

max-width:900px;

margin:auto;

padding:50px;

text-shadow:
0 0 5px #00ff41;

}



h1 {

font-size:50px;

letter-spacing:8px;

}



pre {

border:1px solid #00ff41;

padding:20px;

background:#001000;

}