{% include seed/header.html %}
{% include seed/passport.html %}
{% if page.immagini %}
  {% include seed/widgets/gallery.html %}
{% endif %}

{% include seed/widgets/identity.html %}

{% assign has_biology = false %}

{% if page.ciclo_vita
or page.impollinazione
or page.fiori
or page.progenitore_selvatico
or page.miscuglio_evolutivo
or page.varieta_componenti %}

{% assign has_biology = true %}

{% endif %}

{% if has_biology %}
{% include seed/widgets/biology.html %}
{% endif %}

{% include seed/widgets/cultivation.html %}

{% include seed/widgets/conservation.html %}

{% include seed/widgets/uses.html %}

{% include seed/widgets/recipes.html %}

{% include seed/widgets/bibliography.html %}

{% include seed/widgets/ecology.html %}

{% if page.cronologia %}
  {% include seed/widgets/history.html %}
{% endif %}