{% include seed/cover.html %}
<!--{% include seed/navigation.html %}-->
{% capture dossier %}

{% include seed/widgets/gallery.html %}

<div class="seed-grid">


{% include seed/widgets/identity.html %}
{% include seed/widgets/cultivation.html %}

{% include seed/widgets/biology.html %}
{% include seed/widgets/reproduction.html %}

{% include seed/widgets/conservation.html %}
{% include seed/widgets/ecology.html %}


</div>


{% if page.usi %}
<div class="sg-module-full">
{% include seed/widgets/uses.html %}
</div>
{% endif %}

{% if page.annotazioni %}
<div class="sg-module-full">
{% include seed/widgets/notes.html %}
</div>
{% endif %}

{% if page.cronologia %}
<div class="sg-module-full">
{% include seed/widgets/timeline.html %}
</div>
{% endif %}

{% if page.ricette %}
<div class="sg-module-full">
{% include seed/widgets/recipes.html %}
</div>
{% endif %}

{% if page.bibliografia %}
<div class="sg-module-full">
{% include seed/widgets/bibliography.html %}
</div>
{% endif %}

{% endcapture %}

{% include window.html

title="DOSSIER"

module=page.accession

content=dossier

%}

