{% capture content %}

<table class="sg-data-table">

{% include seed/layout/field.html label="Ciclo di vita" value=page.ciclo_vita %}

{% include seed/layout/field.html label="Impollinazione" value=page.impollinazione %}

{% include seed/layout/field.html label="Fiori" value=page.fiori %}

{% include seed/layout/field.html label="Progenitore selvatico" value=page.progenitore_selvatico %}

{% include seed/layout/field.html label="Miscuglio evolutivo" value=page.miscuglio_evolutivo %}

{% include seed/layout/field.html label="Varietà componenti" value=page.varieta_componenti %}

</table>

{% endcapture %}

{% include seed/layout/module.html
title="Biologia"
module="BIO"
content=content
%}