{% assign seed_slug = page.slug | default: page.name %}

{% assign automatic_recipes = "" | split: "" %}

{% for recipe in site.recipes %}

    {% if recipe.soil_genesis_ingredients %}

        {% for ingredient in recipe.soil_genesis_ingredients %}

            {% assign ingredient_seed =
                ingredient.seed | default: "" | slugify %}

            {% assign current_seed =
                seed_slug | slugify %}

            {% if ingredient_seed == current_seed %}

                {% assign automatic_recipes =
                    automatic_recipes | push: recipe %}

            {% endif %}

        {% endfor %}

    {% endif %}

{% endfor %}


{% assign manual_recipes = page.ricette %}


{% if automatic_recipes.size > 0
      or manual_recipes.size > 0 %}

    {% capture content %}

        <ul class="seed-links">


            <!-- ==========================================
                 AUTOMATIC RECIPES
            =========================================== -->

            {% for recipe in automatic_recipes %}

                <li>

                    <a
                        href="{{ recipe.url | relative_url }}">

                        {{ recipe.title }}

                    </a>

                </li>

            {% endfor %}


            <!-- ==========================================
                 MANUAL RECIPES
            =========================================== -->

            {% if manual_recipes %}

                {% for item in manual_recipes %}

                    <li>

                        {% if item.url %}

                            <a
                                href="{{ item.url | relative_url }}">

                                {{ item.titolo }}

                            </a>

                        {% else %}

                            {{ item.titolo | default: item }}

                        {% endif %}

                    </li>

                {% endfor %}

            {% endif %}


        </ul>

    {% endcapture %}


    {% include seed/layout/module.html
        title="Ricette"
        module="RECIPES"
        content=content
    %}

{% endif %}