<div class="home-section">

    <div class="home-section-title">
        ULTIMI DOSSIER
    </div>

    {% assign recent = site.seeds | sort: "sg_id" | reverse %}

    <div class="recent-scroll">

        {% for seed in recent limit:7 %}

            <a
                href="{{ seed.url | relative_url }}"
                class="recent-item">

                <div class="recent-id">
                    {{ seed.sg_id }}
                </div>

                <div class="recent-name">
                    {{ seed.nome_comune }}
                </div>

                <div class="recent-family">
                    {{ seed.famiglia }}
                </div>

            </a>

        {% endfor %}

    </div>

</div>